<section>
	<article id="sign_in">
		<h3>Please sign in</h3>

		<form method="post" action="/sessions">
			<p>Email: <input type="text" name='email'></p>
			<p>Username: <input type="text" name='username'></p>
			<p>Password: <input type="password" name='password'></p>
			<input type="submit" value="Sign in">
		</form>
	</article>
</section>