body {
  font-family: Helvetica, Arial, Sans-serif;
}

.button {
  display: inline-block; /* display inline but have dimensions */
  width: 80px;
  background-color: #82B743;
  border: 2px solid white;
  color: white; /*text colour*/
  text-decoration: none; /*no underlining*/
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; /*rounded corners*/
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); /*for readability*/
}

.button.highlighted {
  background-color: #b77843;
}

header {  
  height: 40px;
  background-color: black;
  color: white;
  display: flex; /* http://learnlayout.com/flexbox.html */
  padding: 0 20px;
}

#peeps-container {
  background-color: white;
  margin-top: 15%;
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px;
}

#peeps {
  background-color: #EEE;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 10px inherit;
  padding: 15px 10px;
}


#reply {
    background-color: #F3F9FF;
    margin: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    width: 75%;
    position: relative;
    left: 20%;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

article#sign_in {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  background-color: rgba(186, 186, 186, 0.38);
  padding: 3%;
  margin-top: 5%;
}

h3 {
  font-size: 2em;
  line-height: 2em;
}

input {
  position: relative;
  line-height: 30px;
  width: 80%;
  margin-right: 40%;
}

#welcome {
  margin-top: 30%;
  color: black;
  font-size: 2em;
}

form {
  line-height: 2em;
  position: relative;
}

#errors {
  text-align: center;
  color: red;
  line-height: 2em;
  margin-top: 5%;
}

div#logo {
  font-size: 2em;
  margin-right: 30%
}

div#user-welcome {
  /*position: absolute;*/
  /*width: 100%;*/
  /*float: left;*/
  display: inline-block;
}

