<ul>
	<% @messages.reverse.each do |message| %>
		<% string = message.content %>
		<li><%= string.gsub(/#\w+/) { |tag| link_to("/hashtags/%23#{tag.gsub(/^./, "")}", "#{tag}")} %></li>
	<% end %> 
</ul>

